#!/usr/bin/env python
PACKAGE = "uav_city_navigation"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# geometric_controller
gen.add("max_acc",    double_t,    0, "Max Feedback Acceleration", 7.0,  1.0, 8.0)
gen.add("Omegad_x",   double_t,    0, "X component of desired angular velocity", 0.0,  0.0, 1.0)
gen.add("Omegad_y",   double_t,    0, "Y component of desired angular velocity", 0.0,  0.0, 1.0)
gen.add("Omegad_z",   double_t,    0, "Z component of desired angular velocity", 1.0,  0.0, 1.0)
gen.add("Kperp",      double_t,    0, "Perpendicular gain for geometric control", 5.0,  0.1, 20.0)
gen.add("Kpapral",    double_t,    0, "Parallel gain for geometric control", 1.0,  0.05, 2.0)
gen.add("radius",     double_t,    0, "Radius of the circular trajectory", 2.0,  1.0, 10.0)

# Multi-Agent Consensus Gains
gen.add("k2",         double_t,    0, "Phase consensus gain", 0.4,  0.0, 5.0)
gen.add("k3",         double_t,    0, "Axial consensus gain", 0.8,  0.0, 5.0)
gen.add("k4",         double_t,    0, "Velocity consensus gain", 0.4,  0.0, 5.0)

exit(gen.generate(PACKAGE, "uav_city_navigation", "GeometricController"))